on:
  push:
  workflow_dispatch:

jobs:
  gather_stats_job:
    runs-on: ubuntu-latest
    name: A job to display repo stats
    steps:
      - name: Display stats
        id: stats
        uses: AndreiLobanovich/actions_test_task@v1.3
        with:
          owner: "Vision-CAIR"
          repository: "MiniGPT-4"
          monthsAgo: "2"
        env:
          GITHUB_TOKEN: ${{ secrets.TEST_TASK_TOKEN }}
