on: [push]

jobs:
  gather_stats_job:
    runs-on: ubuntu-latest
    name: A job to display repo stats
    steps:
      - name: Display stats
        id: stats
        uses: AndreiLobanovich/actions_test_task@v1.2
        with:
          owner: "AndreiLobanovich"
          repository: "actions_test_task"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
